.footer-up-button {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding-top: 2%;
}

.footer-up-button:hover {
  color: brown;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding-top: 2%;
}

.footer-body-link-menu {
  display:flex;
  list-style: none;
  gap: 3vw;
  gap: 3dvw;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-right: 4%;
}

.footer-image-anchor {
  color: White;
  text-decoration: none;
}

.footer-image-anchor:hover {
  color: Brown;
  text-decoration: underline;
  fill: brown;
}
