body {
  margin: 0;
  padding: 0;
  background: #fff5d7;
  min-height: 100vh;
  min-height: 100dvh;
}

header {
  margin: 0;
  font-size: 1.0em;
  height: 60px;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  min-height: 95dvh;
  align-content: center;
  margin: 20px auto 4vh auto;
  gap: 5vh;
}

#form-box {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  width: 900px;
  min-height: 900px;
  background-color: PeachPuff;
  margin: 0 auto 0 auto;
  box-shadow: 10px 10px 5px Tan;
}

#info-form-box {
  width: 380px;
  min-height: 900px;
  border-right: 2px solid Black;
  padding-left: 20px;
}

#info-form-box label,
#info-form-box input {
  margin-bottom: 5px;
}

#card-box {
  width: 460px;
  min-height: 900px;
  padding-left: 40px;
}

#card-box h2 {
  margin-bottom: 10px;
}

#card-box table {
  border: none;
}

#display-btn {
  margin-bottom: 5px;
}

#clear-btn {
  margin-bottom: 15px;
}
