.sign-form {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  width: 70dvw;
  height: 70vh;
  height: 70dvh;
  position: fixed;
  font-size: 1.0em;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  background-color: Tan;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 4px solid Black;
  overflow-x: hidden;
  overflow-y: auto;
}

.sign-form h3 {
  font-weight: bold;
}
.sign-form label {
  margin-bottom: 8px;
  font-size: 1.2em;
}

.sign-form input {
  margin-bottom: 20px;
  font-size: 1.2em;
}

select {
  background-color: Black;
  color: White;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

select:hover {
  background-color: White;
  color: Black;
}

select option {
  background-color: Black;
  color: White;
  padding: 10px 15px;
  font-size: 16px;
}

select option:hover {
  background-color: White;
  color: Black;
}
th, td {
    border: 1px solid Black; /* Add a border to the table and its cells */
}

table {
  width: 70%;
  margin: 0 auto 10px auto;
  padding-top: 10px;
  border-collapse: separate;
}

th {
  padding-left: 5%;
  padding-right: 5%;
  width: 20%;
  text-align: left;
  vertical-align: top;
}

td {
  padding-left: 5%;
  padding-right: 5%;
  width: 40%;
  text-align: left;
  vertical-align: top;
}

input,
button {
  background-color: Black;
  color: White;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

input,
button:hover {
  background-color: White;
  color: Black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
}
