.blog-page-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 80dvw;
  margin-left: auto;
  margin-right: auto;

}

.blog-page-title h2 {
  font-size: 2.5rem;
  margin: 1vh;
  font-style: bolder;
}

.blog-page-title span {
  color: black;
  font-size: 1.8rem;
  font-style: lighter;
}

.blog-page-title hr {
  width: 60vw;
  width: 60dvw;
  height: 0.1vh;
  height: 0.1dvh;
  margin-top: 1vh;
  border: none;
}

.blog-page-content {
  flex: display;
  flex-direction: column;
  min-height: 80vh;
  min-height: 80dvh;
  margin-left: auto;
  margin-right: auto;
}

.blog-page-content h4 {
  font-size: 1.8em;
  font-style: italic;
  text-align: center;
  padding-top: 2vh;
  padding-top: 2dvh;
  padding-bottom: 2vh;
  padding-bottom: 2dvh;
}

.blog-page-section {
  width: 60vw;
  width: 60dvw;
  margin-left: auto;
  margin-right: auto;
}

.blog-page-section #toc a {
  color: black;
  text-decoration: underline;
}

.blog-page-section h3 {
  font-size: 2rem;
  margin-bottom: 1vh;
}

.blog-page-section p {
  font-size: 1.5rem;
}

.blog-page-section ul {
  font-size: 1.5rem;
  list-style-type: decimal;
}

.blog-page-section img {
  width: 50vw;
  width: 50dvw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-page-section cite {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.blog-page-section div {
  width: 60vw;
  width: 60dvw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  gap: 2dvw;
  margin-left: auto;
  margin-right: auto;
}

.blog-page-section div img {
  width: 30vw;
  width: 30dvw;
  height: auto;
}

@media (max-width: 768px) {
  .blog-page-title h2 {
    font-size: 1.8rem;
    width: 80dvw;
  }

  .blog-page-title span {
    font-size: 1.2rem;
  }

  .blog-page-section {
    width: 80dvw;
  }

  .blog-page-section h3 {
    font-size: 1.5rem;
  }

  .blog-page-section #toc a {
    color: black;
    text-decoration: underline;
    font-size: 1.3rem;
  }

  .blog-page-section p {
    font-size: 1.3rem;
  }

  .blog-page-section ul {
    font-size: 1.3rem;
    list-style-type: decimal;
  }

  .blog-page-section div {
    width: 80dvw;
  }

  .blog-page-section img {
    width: 80dvw;
  }
}
