body {
  margin: 0;
  padding: 0;
  background: #fff5d7;
  min-height: 100vh;
  min-height: 100dvh;
}

header {
  margin: 0;
  margin-bottom: -20px;
  font-size: 1.0em;
  height: 100px;
  height: 100px;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  min-height: 90dvh;
  align-content: center;
  margin: 4vh auto 4vh auto;
  gap: 5vh;
}

#input-box {
  width: 600px;
  height: 200px;
  margin: 0 auto 0 auto;
  background-color: PeachPuff;
  text-align: center;
}

#input-box h2 {
  margin-top: 5px;
}

#number-input {
  margin: 8px auto 8px auto;
  text-align: center;
}

#num-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
  gap: 40px;
}

#num-list ul {
  list-style: none;
  font-size: 1.2em;
  margin-left: -30px;
}

#prime-num-list {
  width: 280px;
  height: 400px;
  background-color: PeachPuff;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
}

#non-prime-num-list {
  width: 280px;
  height: 400px;
  background-color: PeachPuff;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
}

#sum-box {
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
  gap: 40px;
}

#sum-box button {
  width: 200px;
  height: 50px;
  margin: 10px auto 10px auto;
  font-size: 0.8em;
}

#sum-box span {
  font-size: 3em;
}

#prime-num-sum {
  width: 280px;
  height: 160px;
  background-color: PeachPuff;
  text-align: center;
}

#non-prime-num-sum {
  width: 280px;
  height: 160px;
  background-color: PeachPuff;
  text-align: center;
}
