#blog-listing {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  min-height: 96vh;
  min-height: 96dvh;
  gap: 2vh;
  padding-left: 5vw;
  padding-left: 5dvw;
  padding-right: 5vw;
  padding-right: 5dvw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
