header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  height: 5dvh;
  white-space: nowrap;
  z-index: 1000;
}

.header-logo {
  color: black;
  text-decoration: none;
  padding-left: 2vw;
  padding-left: 2dvw;
  font-size: 1.5rem;
}

.header-menu {
  list-style: none;
  display: flex;
  float: right;
  gap: 2dvw;
  font-size: 1.5rem;
  padding-right: 2vw;
  overflow: hidden;
}

@media (max-width: 768px) {
  .header-menu {
    gap: 4dvw;
  }
}

.header-menu-item {
  color: black;
  text-decoration: none;
}

.header-menu-item:hover {
  color: brown;
  text-decoration: underline;
}
